<form action="/list" method="post">
    <label for="order">Sort By:</label>
    <select name="order" id="order">
        <optgroup label="Sort By">
            <option value="rank">Rank (default)</option>
            <option value="name">Name</option>
            <option value="year">Year</option>
        </optgroup>
    </select>
    <label for="rank">Select a Rank to Highlight:</label>
    <select name="rank" id="rank">
        <optgroup label="Select a Rank to Highlight">
		<% (1..100).each do |rankNum| %>
			<option value="<%= rankNum %>"><%= rankNum %></option>
		<% end %>
        </optgroup>
    </select>
    <button type="submit">Display List</button>
</form>
